<!-- File name: script.ejs
Name: Spandan Patel
Student Id: 301160189
Date: 15/02/2021
ExpressPortfolio
Copyright © 2021 Centennial College. All rights reserved.-->

<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="Scripts/app.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
</body>
</html>