<!-- File name: footer.ejs
Name: Spandan Patel
Student Id: 301160189
Date: 15/02/2021
ExpressPortfolio
Copyright © 2021 Centennial College. All rights reserved.-->

<!--simple footer-->
<div class="footer">
    <h6>Copyright @2021 by Spandan Patel</h6>
</div>