<%- include Partials/header.ejs%>

<!--MAIN NAVIGATION-->
  
    <%- include Partials/mainnav.ejs%>

<!--BODY SECTION-->
<div class="home-page">
    <p class="text-center">Contact Me Page</p> 
</div>

<!--FOOTER SECTION-->
    <%- include Partials/footer.ejs%>

<!--SCRIPT SECTION-->
  <%- include Partials/script.ejs%>
