<!-- File name: error.ejs
Name: Spandan Patel
Student Id: 301160189
Date: 15/02/2021
ExpressPortfolio
Copyright © 2021 Centennial College. All rights reserved.-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
