<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/Contents/app.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This is <%= title %> page</p>
  </body>
</html>
