<%- include Partials/header.ejs%>

<!--MAIN NAVIGATION-->
  
    <%- include Partials/mainnav.ejs%>

<!--BODY SECTION-->
    <div class="text-center">

    <p>Project Page</p> 
</div>

<!--FOOTER SECTION-->
    <%- include Partials/footer.ejs%>

<!--SCRIPT SECTION-->
  <%- include Partials/script.ejs%>
