<%- include Partials/header.ejs%>

<!--MAIN NAVIGATION-->
  
    <%- include Partials/mainnav.ejs%>

<!--BODY SECTION-->

    <div class="text-center">
        <div class="header-project-page"><h3 style="font-weight: bold;">My Demo Reel</h3></div>

    </div>


<!--FOOTER SECTION-->
    <%- include Partials/footer.ejs%>

<!--SCRIPT SECTION-->
  <%- include Partials/script.ejs%>
