<!-- File name: services.ejs
Name: Spandan Patel
Student Id: 301160189
Date: 15/02/2021
ExpressPortfolio
Copyright © 2021 Centennial College. All rights reserved.-->

<%- include Partials/header.ejs%>

<!--MAIN NAVIGATION-->
  
    <%- include Partials/mainnav.ejs%>

<!--BODY SECTION-->

    <div class="text-center">
        <div class="header-of-page"><h3 style="font-weight: bold;">Services Provided</h3></div>
        <div class="service-page">
            <div class="service-colomn">
                <h2>Gameplay Programming</h2><br>
                <ul style="text-align: justify; padding-right: 5%;">
                    <li><h6>Core Mechanics of Game like Character Controller, Combat-System, AI, Ability-System.</h6></li><br>
                    <li><h6>Rapid Prototyping of different game mechanics. So, testing and iteration will be faster for core mechanics of final game.</h6></li><br>
                    <li><h6>Other core loop mechanics as well like Item-Interaction-System, Event Based System.</h6></li>
                </ul>
            </div>

            <div class="service-colomn">
                <h2>Architecture Programming</h2><br>
                <ul style="text-align: justify; padding-right: 5%;">
                    <li><h6>Proper Dynamic Architecture for Base Classes like Player, Enemy, Abilities, Items.</h6></li><br>
                    <li><h6>Because of proper Base classes, Game Designer can easily add or remove mechanics from Child Classes for faster Prototyping.</h6></li><br>
                    <li><h6>Clear and concise architecture code. Therefore, can transfer and edit code easilty for future games.</h6></li>
                </ul>
            </div>

            <div class="service-colomn">
                <h2>UI Programming</h2><br>
                <ul style="text-align: justify; padding-right: 5%;">
                    <li><h6>Dynamic User Interface of Games. Because of clear base classes, dynamic UI becomes easy to implement.</h6></li><br>
                    <li><h6>Experience with different UI Elements like Images, Slider, Progress Bars to show information of game.</h6></li><br>
                    <li><h6>Work with desginer to code pleasant looking User Interface for Game Menus.</h6></li>
                </ul>
            </div>

            <div class="info-link" style="padding-top: 25%;">          
                <a href="/contact"> Hire Me</a>
              </div>
        </div>
    </div>


<!--FOOTER SECTION-->
    <%- include Partials/footer.ejs%>

<!--SCRIPT SECTION-->
  <%- include Partials/script.ejs%>
