<%- include Partials/header.ejs%>

<!--MAIN NAVIGATION-->
  
    <%- include Partials/mainnav.ejs%>

<!--BODY SECTION-->

    <p class="text-center">Service Page</p> 


<!--FOOTER SECTION-->
    <%- include Partials/footer.ejs%>

<!--SCRIPT SECTION-->
  <%- include Partials/script.ejs%>
