<!-- File name: index.ejs
Name: Spandan Patel
Student Id: 301160189
Date: 15/02/2021
ExpressPortfolio
Copyright © 2021 Centennial College. All rights reserved.-->

<!--HEADER SECTION-->
<%- include Partials/header.ejs%>

<!--MAIN NAVIGATION-->
  
    <%- include Partials/mainnav.ejs%>

<!--BODY SECTION-->
    <div class="home-page-main">
      <div class="home-page-text">
        <h3 style="font-size: 55px; font-weight: bold;">Welcome to my Portfolio</h3>
        <h1 style="font-size: 35px;font-weight: bold;">My name is Spandan Patel. I am a Gamer. I love Math and Programming.
        </h1>
        <br>
          <h4 style="font-weight: bold;">"A good game gives us meaningful accomplishment -  clear achivement that we  don't necessairly get from real life."</h4>
          <br>
        <div class="info-link">          
          <a href="/info">Learn More About Me</a>
        </div>        
      </div>
    </div>

<!--FOOTER SECTION-->
    <%- include Partials/footer.ejs%>

<!--SCRIPT SECTION-->
  <%- include Partials/script.ejs%>
