<!-- File name: info.ejs
Name: Spandan Patel
Student Id: 301160189
Date: 15/02/2021
ExpressPortfolio
Copyright © 2021 Centennial College. All rights reserved.-->


<!--HEADER SECTION-->
<%- include Partials/header.ejs%>

<!--MAIN NAVIGATION-->
  
<%- include Partials/mainnav.ejs%>

<!--BODY SECTION-->
<div class="text-center">
      <div class="section-1">
        <img class="profile-pic" src="/Assets/images/profilepic.jpg">
      </div>
      
      <div class="section-2">
        <h2 style="text-align: center;">My name is Spandan Patel.</h2><br>
        <p>I have completed my Bachelor in Computer Engineering in 2019.</p>
        <p>I have always been enthusiastic about mathematics, programming and creativity. My enthusiam for math, coding, creativity and of course my passion of playing video games led me to pursue Game Development as a career option. My curiosity of how game mechanics works and my hunger for knowledge helps to experiment and create different game prototypes. Because of this, I am able to grasp something new every day. I believe Games can leave positive influence in the world. And, that's the reasons why I want to become Game Developer.</p>
        <p>That's why I started learning Game Developer after my Bachelor, and now I am currently enrolled to Game Programming Fast-Track program at Centennial College.</p>        
      </div>

      <div class="skill-cards">
        <br><br>
        <h3 style="text-align: center; color: white;">Skills</h3>

        <div class="row-1">
          <div class="column-1">
            <div class="card">
              <img src="/Assets/images/unreal.png" width="175px" height="175px">
              <h6 style="font-weight: bold;">Unreal Engine</h6>
            </div>
          </div>
        
          <div class="column-1">
            <div class="card">
              <img src="/Assets/images/unity.png" width="175px" height="175px">
              <h6 style="font-weight: bold;">Unity Engine</h6>
            </div>
          </div>
          
          <div class="column-1">
            <div class="card">
              <img src="/Assets/images/blender.png" width="175px" height="175px">
              <h6 style="font-weight: bold;">Blender</h6>
            </div>
          </div>
          
          <div class="column-1">
            <div class="card">
              <img src="/Assets/images/photoshop.png" width="175px" height="175px">
              <h6 style="font-weight: bold;">Photoshop</h6>
            </div>
          </div>
        </div>
      
        <br>

        <div class="row-2">
          <div class="column-1">
            <div class="card">
              <img src="/Assets/images/cpp.png" width="175px" height="175px">
              <h6 style="font-weight: bold;">C++</h6>
            </div>
          </div>
        
          <div class="column-1">
            <div class="card">
              <img src="/Assets/images/csharp.png" width="175px" height="175px">
              <h6 style="font-weight: bold;">C#</h6>
            </div>
          </div>
          
          <div class="column-1">
            <div class="card">
              <img src="/Assets/images/pyhton.png" width="175px" height="175px">
              <h6 style="font-weight: bold;">Python</h6>
            </div>
          </div>
          
          <div class="column-1">
            <div class="card">
              <img src="/Assets/images/github.png" width="175px" height="175px">
              <h6 style="font-weight: bold;">Github</h6>
            </div>
          </div>
        </div>

        <div class="info-link" style="padding-top: 2%;">          
          <a href="/Assets/docs/Resume.pdf" target="_blank"> Click Here to see Resume</a>
        </div>
      </div>      
  </div> 
      


</div>



  

<!--FOOTER SECTION-->
    <%- include Partials/footer.ejs%>

<!--SCRIPT SECTION-->
  <%- include Partials/script.ejs%>
